<svg width="1600" height="25" xmlns="http://www.w3.org/2000/svg" *ngFor="let item of items">
  <text x="30" y="12" style=" font-size: 14px;">{{ item['name'] }}</text>
  <text x="170" y="12" style=" font-size: 14px;">{{ item['interval'] }}</text>
  <text x="220" y="12" style=" font-size: 14px;">{{ item['type'] }}</text>
  <text x="270" y="12" style=" font-size: 14px;">{{ item['RRSU'] }}</text>
  <text x="320" y="12" style=" font-size: 14px;">{{ item['oil'] }}</text>
  <text x="370" y="12" style=" font-size: 14px;">{{ item['rate'] }}</text>
  <text x="420" y="12" style=" font-size: 14px;">{{ item['WC'] }}</text>
  <line x1="460" x2="460" y1="0" y2="50" stroke="black" stroke-width="1" />
  <rect attr.x="{{ item['NKX'] }}" attr.y="{{positionY}}" attr.width="{{ item['NKWidth'] }}" attr.height="{{height}}" attr.fill="{{colorYellow}}" stroke-width="1"/>
  <rect attr.x="{{ item['PX'] }}" attr.y="{{positionY}}" attr.width="{{ item['PWidth'] }}" attr.height="{{height}}" attr.fill="{{colorBlue}}" stroke-width="1"/>
  <rect attr.x="{{ item['hookupX'] }}" attr.y="{{positionY}}" attr.width="{{ item['hookupWidth'] }}" attr.height="{{height}}" attr.fill="{{colorGray}}" stroke-width="1"/>
  <rect attr.x="{{ item['fracX'] }}" attr.y="{{positionY}}" attr.width="{{ item['fracWidth'] }}" attr.height="{{height}}" attr.fill="{{colorDark}}" stroke-width="1"/>
  <rect *ngIf="item['criticalX'] && item['criticalWidth']" attr.x="{{ item['criticalX'] }}" attr.y="{{positionY}}" attr.width="{{ item['criticalWidth'] }}" attr.height="{{height}}" attr.fill="{{colorRed}}" stroke-width="1"/>
</svg>
