<div>
  <svg width="1600" height="40" xmlns="http://www.w3.org/2000/svg">
    <text x="0" y="12" style=" font-size: 14px;">Name</text>
    <text x="170" y="12" style=" font-size: 14px;">Interval</text>
    <text x="220" y="12" style=" font-size: 14px;">Type</text>
    <text x="270" y="12" style=" font-size: 14px;">RRSU</text>
    <text x="320" y="12" style=" font-size: 14px;">Oil</text>
    <text x="370" y="12" style=" font-size: 14px;">Rate</text>
    <text x="420" y="12" style=" font-size: 14px;">W/C</text>
    <text x="470" y="12" style=" font-size: 14px;">September 2019</text>
    <text x="620" y="12" style=" font-size: 14px;">November 2019</text>
    <text x="770" y="12" style=" font-size: 14px;">December 2019</text>
    <text x="920" y="12" style=" font-size: 14px;">January 2020</text>
    <text x="1070" y="12" style=" font-size: 14px;">February 2020</text>
    <text x="1220" y="12" style=" font-size: 14px;">March 2020</text>
    <line x1="460" x2="460" y1="0" y2="40" stroke="black" stroke-width="1" />
    <line x1="0" x2="1600" y1="30" y2="30" stroke="black" stroke-width="1" />
  </svg>
  <app-cluster-list></app-cluster-list>
  <app-well-list></app-well-list>
</div>
